#background{
	background-color: rgb(67, 163, 67);
}
/*.title{
	font-size: 45pt;
	margin-top: 45px;
	color: white;
	font-weight: bold;
	text-decoration: underline white;
}
.subtitle{
	font-size: 28pt;
	font-family: sans-serif;
	margin-top: 28px;
	margin-left:20px;
	color: rgb(240, 96, 39);
	font-weight: bold;
	text-decoration: underline rgba(233, 233, 97, 0.966);
}
.factbox{
	width:1100px;
   margin-left:10px;
   font-size: 28pt;
   color: white;
   font-family: sans-serif;
   height: 300px;
   margin-top:15px;
   margin-bottom:50px;
   border: 2px solid rgb(216, 155, 41);
   background-color: rgb(211, 183, 105);
	
}
.coolFacts{
	color: white;
    width:1000px;
    color: rgb(240, 237, 220);
    margin-left:10px;
    margin-top: 15px;
} */